    <!-- make sitewide GoTemplate vars available to script files -->
    <script>
      var disqus_shortname = {{ .Site.Params.disqus_shortname }}
      var google_analytics_accout = {{ .Site.Params.google_analytics_accout }}
      var home_page_excerpt_style = {{ .Site.Params.home_excerpt_style }}
      var base_url = {{ .Site.BaseUrl }}
    </script>

    <!-- jQuery 
       - Think first, you might not need it (http://youmightnotneedjquery.com/)
       <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
     -->
    
    <!-- Single, browserified bundle -->
    <script src="{{ .Site.BaseUrl }}/assets/js/bundle.js"></script>

    
    <!-- Google Analytics - To Use:
    1. Add google_anaglytics key with value to site param settings 
    2. Uncomment below -->

    <!--
    {{ with .Site.Params.google_analytics }}
    <script>
      var _gaq=[['_setAccount','{{ . }}'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    {{ end }}
    -->

  </body>
</html>